/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #2a3b33;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(5, 250, 136, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #b9a91b;
}

form {
    margin-bottom: 2px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border-radius:  #ec2b1d;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #d61313;
    color: rgb(255, 251, 0);
    border:#2a3b33
    border-radius: -12
    px;
    cursor:auto
}

button:hover {
    background-color: #242724;
}

#prayer-times {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    color: #ee1616;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('123.jpg.jpg'); /* Path to your image */
    background-size: cover; /* Makes sure the image covers the whole page */
    background-position: center; /* Centers the image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body {
    font-family: 'Amiri', serif; /* استخدام خط Amiri */
    background-color: #5329eb;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(178, 211, 29); /* لتغيير اللون للنص */
}

.arabic-text {
    font-size: 72px; /* حجم النص */
    direction: rtl; /* لضمان الكتابة من اليمين لليسار */
}
